:root {
    --primary-color: #f8f4f4;
    --white: #FFFFFF;
    --font-12: 12px;
    --font-10: 10px;
    --font-14: 14px;
}

.secondary-color {
    background-color: var(--primary-color);
}

.filter-section {
    font-size:var(--font-14);
}

.issue-id {
    font-size: var(--font-12) !important;
    font-weight: inherit;
}

.white-font {
    color: var(--white) !important;
}

.issues-area {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 850px;
}

@media(max-width:768px) {
    .issue-id {
        font-size: var(--font-10) !important;
    }

    .filter-section {
        font-size: var(--font-10);
    }
}