:root {
    --primary-color: #EEEEEE;
    --blue: #007bff;
    --dark-blue: rgba(0, 123, 255, 0.25);
    --pixel-1: 1px;
    --font-16: 16px;
    --font-30: 30px;
    --font-20: 20px;
    --font-12: 12px;
    --size-35: 35px;
    --size-25: 25px;
}

.primary-color {
    background-color: var(--primary-color);
}

.font-16 {
    font-size: var(--font-16) !important;
}

.header {
    font-size: var(--font-30);
}

.form-title {
    font-size: var(--font-20);
}

.input-text {
    font-family: sans-serif !important;
    height: var(--size-35) !important;
}

.input-text:focus {
    border-color: var(--blue) !important;
    border-width: var(--pixel-1) !important;
    box-shadow: 0 0 0 0.2rem var(--dark-blue) !important;
    outline: none !important;
}
.button-title {
    font-family: monospace;
}

::placeholder {
    opacity: 0.6;
}

@media(max-width:768px) {
    .header {
        font-size: var(--font-20);
    }    

    .form-title {
        font-size: var(--font-16);
    }

    .font,.input-text {
        font-size: var(--font-12) !important;
        height: var(--size-25) !important;
    }

    .button-title {
        font-size: var(--font-12) !important;
    }
}

